@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

:root {
    --header-color: rgba(81, 105, 167, 255);
    --body-accent-color: rgba(208, 157, 114, 255);
    --body-color: rgba(209, 190, 173, 255)
}

h1 {
    display: block;
    min-width: fit-content;
    font-family: 'Roboto';
    font-size: x-large;
    margin: auto;
    margin-left: 2%;
}

header>div>p {
    display: inline-block;
    justify-content: flex-end;
    margin: 0 0.5em 0 0;
    top: 5%;
    margin-top: 25%;
    margin-bottom: 25%;
}


header>div>p:hover {
    cursor: pointer;
}

header>div {
    display: grid;
    height: 100px;
    padding: 0;
}

header {
    background-color: var(--header-color);
    display: inline-block;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 100%;
}

body {
    background-color: var(--body-color);
    justify-content: center;
}

.counter {
    justify-content: space-between;
    text-align: right;
    background-color: var(--body-accent-color);
    display: flex;
    bottom: 40%;
    position: relative;
}


.counter p {
    background-color: var(--body-accent-color);
    display: inline;
    margin: auto;
    margin-right: 0.5em;

}

a img {
    width: 1.7em;
    height: 1.7em;
    margin: 0.5em;
    margin-top: 0.7em;
}

.about>p {
    display: inline;
    margin: 0%;
}

.about {
    text-align: right;
    min-width: fit-content;
    font-size: 70%;
    align-items: center;
    margin: auto;
    margin-right: 2%
}

.container__text {
    display: flex;
}


footer {
    background-color: var(--header-color);
    height: 100%;
    position: relative;
    overflow: hidden;



}

footer>p {
    margin: auto;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;

}

div.container__list>*:hover {
    color: orangered;
    cursor: pointer;
}

div.container__list>div {
    display: flex;
    text-align: right;
}

div.container__list>div>p {
    display: inline;
    min-width: 50%;

}

label {
    text-align: left;
    display: inline;
    min-width: 47%;
    margin-left: 0.3em;
}

div.container__list {
    align-self: center;
    border-bottom: 1px solid purple;
    position: relative;
    top: -50%;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}

div>div input {
    min-width: 1em;
    border: 3px red solid;
}


div.container__list>div>p {
    text-align: right;
    content: "\2716";
    padding-right: 0.5em;


}

div.container__list>div>p::after {
    content: "\2716";
}



div:nth-child(odd) label {
    text-decoration: line-through;
}

div:nth-child(even) label {
    text-decoration: none;

}


.result {
    display: flex;
    font-size: 125%;
    top: -135%;
    position: relative;
    width: 97%;
    margin: auto;
    justify-content: flex-end;
    padding-right: 0.7em;
}

.container__cellphone {
    display: grid;
    align-items: center;
    align-self: center;
    min-height: 100vh;
    grid-template-rows: min-content;

}

/* CSS FORMULARIO */

.container__form>form label {
    text-decoration: none;
}

.container__form * {
    display: block;
    background-color: var(--body-color);
}

.container__form input,
input {
    border: 0;
    border-bottom: 1px solid purple;
}

button {
    background-color: var(--header-color);
    color: white;
    max-width: fit-content;
    cursor: pointer;
    padding: 0.7em 0.5em;
    font-weight: 500;
    border: 0;
    margin-top: 1em;
}

h2 {
    font-weight: 600;
    margin-bottom: 1.5em;
}

main {
    height: 120%;
    width: 100%;
    position: relative;
    margin-left: 1em
}