* {
    box-sizing: border-box;
}

:root {
    --header-color: rgba(81, 105, 167, 255);
    --body-accent-color: rgba(208, 157, 114, 255);
    --body-color: rgba(209, 190, 173, 255)
}

header>div>p {
    display: flex;
    justify-content: flex-end;
    margin: 0 0.5em 0 0;
    top: 5%;
    margin-top: 25%;
    margin-bottom: 25%;
}

header>div>p:hover {
    cursor: pointer;
}

div {
    display: flex;
}

header {
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    width: 425px;
}

body {
    background-color: var(--body-color);
    justify-content: center;
}

.counter__number {
    background-color: var(--body-accent-color);
    width: 425px;
    ;
}

footer {
    background-color: var(--body-accent-color);
    width: 425px;
    text-align: center;

}

div>ul>li:hover {
    color: orangered;
}

ul {
    list-style: none;
}


.container__list {
    display: flex;
    justify-content: space-between;
    width: 425px;
    align-self: center;
    border-bottom: 2px solid purple;
}

ol>li {
    list-style: none;
}

ol>li::after {
    content: "\2716";
}

ul>li:nth-child(odd) {
    text-decoration: line-through;
}


.result {
    display: flex;
    justify-content: flex-end;
    width: 425px;
}