@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --header-color: rgba(81, 105, 167, 255);
    --body-accent-color: rgba(208, 157, 114, 255);
    --body-color: rgba(209, 190, 173, 255)
}

.container__text {
    display: flex;
}

h1 {
    display: block;
    max-width: fit-content;
    font-family: 'Roboto';
    font-size: x-large;
    margin: auto;
    margin-left: 2%;
}

header>div>p {
    display: inline-block;
    justify-content: flex-end;
    margin: 0 0.5em 0 0;
    top: 5%;
    margin-top: 25%;
    margin-bottom: 25%;
}

.about>p {
    display: inline;
    margin: 0%;
}

.about {
    text-align: right;
    max-width: fit-content;
    font-size: 70%;
    align-items: center;
    margin: auto;
    margin-right: 2%
}

header>div>p:hover {
    cursor: pointer;
}

header>div {
    display: grid;
    height: 100px;
    padding: 0;
}

header {
    background-color: var(--header-color);
    display: inline-block;
    justify-content: space-between;
    width: 425px;
}

body {
    background-color: var(--body-color);
    justify-content: center;
}

.counter {
    margin-top: -23%;
    justify-content: space-between;
    text-align: right;
    background-color: var(--body-accent-color);
    display: flex;
    max-width: 425px;
}


.counter>p {
    background-color: var(--body-accent-color);
    width: 425px;
    display: inline;
    justify-items: space-between;
    margin: auto;

}

.counter>img {
    width: 1.6em;
    height: 1.6em;
    margin: 0.5em;
}



footer {
    background-color: var(--header-color);
    width: 425px;
    text-align: center;

}

div>ul>li:hover {
    color: orangered;
}

ul {
    list-style: none;
    padding: 0;
}

ol>li:nth-child(even) {
    text-align: end;
}


.container__list {
    display: flex;
    justify-content: space-between;
    width: 425px;
    align-self: center;
    border-bottom: 2px solid purple;
    align-content: end;
    position: relative;
    top: -50%;
}

ol>li {
    list-style: none;
}

ol>li::after {
    content: "\2716";
}

ul>li:nth-child(odd) {
    text-decoration: line-through;
    justify-content: space-between;
}


.result {
    display: flex;
    justify-content: flex-end;
    width: 425px;
    font-size: 125%;
    top: -120%;
    position: relative;
}

.container__cellphone {
    display: grid;
    justify-content: center;
    margin: auto;
    align-items: center;
    min-height: 100vh;
    grid-template-rows: min-content;

}